[v-cloak] > * {
    display: none;
}
.solidigm {
    background-color: #4F00B4;
}
.furhost {
    background-color: #1FB3DD;
}
.intel {
    background-color: #31C5F3;
}
.geek-squad {
    background-color: #E37222;
}