{% extends "base.html" %}
{% load static %}


{% block title %}Resume | {% endblock %}


{% block content %}
<v-container>
  <v-card class="mx-auto mt-6">
    <v-card-text class="text-body-1">
      <h2 class="text-h2">Robert Jauss</h2>
      <h6 class="text-h6"><a href="mailto:robert@jauss.dev">robert@jauss.dev</a></h6>
      <a href="https://www.linkedin.com/in/robert-jauss-48a42637/" target="_blank" class="text-decoration-none"><v-icon>mdi-linkedin</v-icon> LinkedIn</a>

      <h5 class="text-h5 mt-16">Statement of Qualifications</h5>
      <p class="mb-16">
        I am a team oriented and project driven Software Engineer with a focus on leading teams to success. I have an
        understanding of project management in regard to scope, assessing needs, and timelines. I have the ability to
        work with team members to analyze, troubleshoot, and resolve issues while developing solutions within modern
        frameworks.
      </p>

      <h5 class="text-h5">Experience</h5>
      <v-timeline :reverse="!isMobile" :dense="isMobile">

        <v-timeline-item>
          <span slot="opposite" v-show="!isMobile">October 2023 - Present</span>
          <v-card color="secondary">
            <v-card-title class="text-h5 verizon font-weight-medium">Verizon</v-card-title>
            <v-card-text class="text-body-1">
              <p class="text-h6 mt-3"><v-icon left>mdi-badge-account-horizontal</v-icon>Senior Software Engineer</p>
              <p><v-icon left>mdi-map-marker</v-icon>Temple Terrace, Florida, United States (Remote)</p>
              <p v-show="isMobile"><v-icon left>mdi-calendar</v-icon>October 2023 - Present</p>
              <p>
                The primary focus of this role was automating the generation of configuration files for wireless
                networking hardware to facilitate the installation and migration of cellular routers. Originally using
                a premade solution that was shimmed into place, and years behind schedule, I helped spearhead a new,
                bespoke solution using Django.
              </p>
              <p>
                Using Django, the Django Rest Framework, Jinja2, Docker, Kubernetes, and about a decade of experience,
                me and a coworker fully replaced an $8 million/year licensed software tool with an in-house solution,
                delivering drastically faster results, faster development, and fine-tuned error handling. Verizon has
                officially adopted this in-house solution, and it is now a vital part of the cellular hardware
                deployment workflow.
              </p>
            </v-card-text>
          </v-card>
          <template v-slot:icon>
            <v-avatar color="#FFF">
              <img src="{% static "images/Verizon_GlowV_RGB.png" %}" alt="Verizon logo">
            </v-avatar>
          </template>
        </v-timeline-item>

        <v-timeline-item>
          <span slot="opposite" v-show="!isMobile">January 2022 - June 2023</span>
          <v-card color="secondary">
            <v-card-title class="text-h5 solidigm font-weight-medium">Solidigm</v-card-title>
            <v-card-text class="text-body-1">
              <p class="text-h6 mt-3"><v-icon left>mdi-badge-account-horizontal</v-icon>Software Engineer</p>
              <p><v-icon left>mdi-map-marker</v-icon>Rancho Cordova, California, United States (Remote)</p>
              <p v-show="isMobile"><v-icon left>mdi-calendar</v-icon>January 2022 - June 2023</p>
              <p>
                Created and maintained internal web tools using Python/Django and Vue.js, connected to a PostgreSQL
                database, facilitated deployment using NGINX and Gunicorn/Uvicorn, orchestrated using Docker Compose.
                Web apps included data visualization for JIRA, SSD firmware testing automation data, internal product
                timelines, and tools to help product leads succeed.
              </p>
              <p>
                Lead a small team of 3 to 6 employees, training several on both Django and Vue.js, Docker, and other tools we
                used, coordinating work efforts, running SCRUM meetings, and making sure deadlines were achieved.
              </p>
              <p>
                Work was almost entirely remote with occasional “Development Weeks” in the Folsom Intel campus and
                Rancho Cordova Solidigm office.
              </p>
            </v-card-text>
          </v-card>
          <template v-slot:icon>
            <v-avatar color="#4F00B4">
              <img src="{% static "images/solidigm-64.jpg" %}" alt="Solidigm logo">
            </v-avatar>
          </template>
        </v-timeline-item>

        <v-timeline-item>
          <span slot="opposite" v-show="!isMobile">January 2013 - Present</span>
          <v-card color="secondary">
            <v-card-title class="text-h5 furhost font-weight-medium">FurHost</v-card-title>
            <v-card-text class="text-body-1">
              <p class="text-h6 mt-3"><v-icon left>mdi-badge-account-horizontal</v-icon>Owner</p>
              <p><v-icon left>mdi-map-marker</v-icon> <a href="https://furhost.net" target="_blank" class="text-decoration-none">https://furhost.net</a></p>
              <p v-show="isMobile"><v-icon left>mdi-calendar</v-icon>January 2013 - Present</p>
              <p>
                Web hosting, server colocation, and managed website design and maintenance, catered to the
                furry community.
              </p>
              <p>
                I own and maintain several servers in a data center, ensure client data privacy, and have designed
                and maintained several websites for clients directly using my skill with python and Django, Vue.js,
                Docker, system administration, devops, and more, providing end-to-end hosting and web development
                solutions.
              </p>
            </v-card-text>
          </v-card>
          <template v-slot:icon>
            <v-avatar color="#1FB3DD">
              <img src="{% static "images/furhost.png" %}" alt="FurHost logo">
            </v-avatar>
          </template>
        </v-timeline-item>

        <v-timeline-item>
          <span slot="opposite" v-show="!isMobile">July 2021 - January 2022</span>
          <v-card color="secondary">
            <v-card-title class="text-h5 intel font-weight-medium">Intel Corporation</v-card-title>
            <v-card-text class="text-body-1">
              <p class="text-h6 mt-3"><v-icon left>mdi-badge-account-horizontal</v-icon>Lead Engineer</p>
              <p><v-icon left>mdi-map-marker</v-icon> Folsom, California, United States</p>
              <p v-show="isMobile"><v-icon left>mdi-calendar</v-icon>July 2021 - January 2022</p>
              <p>
                Moved from test writing team to tools development team, beginning work full time with Django and Vue.js on
                tools to help both test writing teams and execution teams. Maintained this position until Intel sold their SSD
                division to SK Hynix, where I was officially changed from Intel to Solidigm.
              </p>
            </v-card-text>
          </v-card>
          <template v-slot:icon>
            <v-avatar color="#31C5F3">
              <img src="{% static "images/intel-64.jpg" %}" alt="Intel logo">
            </v-avatar>
          </template>
        </v-timeline-item>

        <v-timeline-item small fill-dot color="#31C5F3">
          <span slot="opposite" v-show="!isMobile">January 2019 - July 2021</span>
          <v-card color="secondary">
            <v-card-text class="text-body-1">
              <p class="text-h6"><v-icon left>mdi-badge-account-horizontal</v-icon>Python Automation Engineer</p>
              <p v-show="isMobile"><v-icon left>mdi-calendar</v-icon>January 2019 - July 2021</p>
              <p>
                Moved from web development team to test development team, and wrote the tests for the drives that execution ran.
                Utilizing both python 2 and 3, tapping into low-level NVMe feature sets to stress test drives and ensure tests
                were robust and compliant.
              </p>
              <p>
                Conceptualize, design, develop, and implement internal tools, APIs, and more for data driven reporting
                and firmware testing on Intel products. Technologies used include Python, Django, Gerrit, QuickBuild,
                and more.
              </p>
            </v-card-text>
          </v-card>
        </v-timeline-item>

        <v-timeline-item small fill-dot color="#31C5F3">
          <span slot="opposite" v-show="!isMobile">April 2018 - January 2019</span>
          <v-card color="secondary">
            <v-card-text class="text-body-1">
              <p class="text-h6"><v-icon left>mdi-badge-account-horizontal</v-icon>Python Web Developer</p>
              <p v-show="isMobile"><v-icon left>mdi-calendar</v-icon>April 2018 - January 2019</p>
              <p>
                Moved from execution team to internal web development team, and developed a dashboard for execution leads
                to track sprint progress with live data from systems under test.
              </p>
              <p>
                Development used a combination of Python 3.6 / Django, Vue with Nuxt.js, Feathers.js, IIS on Windows
                server, NGINX on Debian, and Docker.
              </p>
            </v-card-text>
          </v-card>
        </v-timeline-item>

        <v-timeline-item small fill-dot color="#31C5F3">
          <span slot="opposite" v-show="!isMobile">April 2017 - April 2019</span>
          <v-card color="secondary">
            <v-card-text class="text-body-1">
              <p class="text-h6"><v-icon left>mdi-badge-account-horizontal</v-icon>Enterprise SSD Firmware Execution Technician</p>
              <p v-show="isMobile"><v-icon left>mdi-calendar</v-icon>April 2017 - April 2019</p>
              <p>
                Contractor via Kelly Services. Started as an NVMe execution technician, running QA tests on pre-production
                hardware prior to authorizing the release to consumers. Involved working with clients to customize firmware
                for specific requirements and ensuring drives met and exceeded expectations.
              </p>
              <p>
                Performed batteries of tests on enterprise-grade SSDs in active development using automation scripts
                developed internally. Debug and log test failure reasons, as well as perform more in-depth analysis as
                needed using oscilloscopes and Teledyne Lecroy machines.
              </p>
            </v-card-text>
          </v-card>
        </v-timeline-item>

        <v-timeline-item>
          <span slot="opposite" v-show="!isMobile">April 2016 - March 2017</span>
          <v-card color="secondary">
            <v-card-title class="text-h5 yellow black--text font-weight-medium">DeBug Computer</v-card-title>
            <v-card-text class="text-body-1">
              <p class="text-h6 mt-3"><v-icon left>mdi-badge-account-horizontal</v-icon>Computer Technician</p>
              <p><v-icon left>mdi-map-marker</v-icon> Carson City, Nevada, United States</p>
              <p v-show="isMobile"><v-icon left>mdi-calendar</v-icon>April 2016 - March 2017</p>
              <p>
                In-home computer repair and maintenance for residential clients, and on-site server setup and business
                software specialist for businesses. Everything from virus removal to a full PC build for residential clients, and
                Active Directory setup and networking support for business clients.
              </p>
              <p>
                Duties were split between field work, going to client homes and businesses to perform work, and office work,
                fixing or upgrading systems brought into the DeBug office in Minden, NV. Work was highly independent and
                performed without much oversight.
              </p>
              <p>
                Additional responsibilities to primary roles included web development, utilizing both WordPress and Django, for
                business clients in the Carson City area.
              </p>
            </v-card-text>
          </v-card>
          <template v-slot:icon>
            <v-avatar color="yellow">
              <img src="{% static "images/debug-64.jpg" %}" alt="DeBug Computer logo">
            </v-avatar>
          </template>
        </v-timeline-item>

        <v-timeline-item>
          <span slot="opposite" v-show="!isMobile">September 2013 - April 2016</span>
          <v-card color="secondary">
            <v-card-title class="text-h5 geek-squad black--text font-weight-medium">Geek Squad</v-card-title>
            <v-card-text class="text-body-1">
              <p class="text-h6 mt-3"><v-icon left>mdi-badge-account-horizontal</v-icon>Double Agent Covert</p>
              <p><v-icon left>mdi-map-marker</v-icon> Carson City, Nevada, United States</p>
              <p v-show="isMobile"><v-icon left>mdi-calendar</v-icon>September 2013 - April 2016</p>
              <p>
                In-home computer repair and maintenance for residential clients, including virus removal, software installation,
                hardware installation and configuration, and client education and training on computer usage.
              </p>
              <p>
                The ‘Covert’ title included remote computer repair, software setup, and hardware configuration to support
                clients from anywhere in the country, utilizing remote desktop software.
              </p>
            </v-card-text>
          </v-card>
          <template v-slot:icon>
            <v-avatar color="#E37222">
              <img src="{% static "images/geek_squad-64.jpg" %}" alt="Geek Squad logo">
            </v-avatar>
          </template>
        </v-timeline-item>

        <v-timeline-item>
          <span slot="opposite" v-show="!isMobile">November 2011 - February 2013</span>
          <v-card color="secondary">
            <v-card-title class="text-h5 target font-weight-medium">Target Mobile</v-card-title>
            <v-card-text class="text-body-1">
              <p class="text-h6 mt-3"><v-icon left>mdi-badge-account-horizontal</v-icon>Store Manager</p>
              <p><v-icon left>mdi-map-marker</v-icon> Salinas, California, United States</p>
              <p v-show="isMobile"><v-icon left>mdi-calendar</v-icon>November 2011 - February 2013</p>
              <p>
                Managed employees across 3 separate stores along the central coast, responsible for scheduling,
                payroll, inventory, sales goals, and all staffing decisions. Position defunct after parent company
                Radio Shack went out of business.
              </p>
            </v-card-text>
          </v-card>
          <template v-slot:icon>
            <v-avatar color="red">
              <img src="{% static "images/radioshack-64.jpg" %}" alt="Radioshack logo">
            </v-avatar>
          </template>
        </v-timeline-item>

        <v-timeline-item>
          <span slot="opposite" v-show="!isMobile">April 2009 - November 2011</span>
          <v-card color="secondary">
            <v-card-title class="text-h5 blue font-weight-medium">Bookette Software</v-card-title>
            <v-card-text class="text-body-1">
              <p class="text-h6 mt-3"><v-icon left>mdi-badge-account-horizontal</v-icon>Web Content Specialist</p>
              <p><v-icon left>mdi-map-marker</v-icon> Monterey, California, United States</p>
              <p v-show="isMobile"><v-icon left>mdi-calendar</v-icon>April 2009 - November 2011</p>
              <p>
                Design and develop interactive online standardized tests for K-12 school nationwide, using Python,
              JavaScript, and Adobe Flash.
              </p>
            </v-card-text>
          </v-card>
          <template v-slot:icon>
            <v-avatar color="blue">
              <img src="{% static "images/bookette-64.jpg" %}" alt="Bookette Software logo">
            </v-avatar>
          </template>
        </v-timeline-item>

        <v-timeline-item>
          <span slot="opposite" v-show="!isMobile">November 2006 - March 2008</span>
          <v-card color="secondary">
            <v-card-title class="text-h5 black font-weight-medium">US Army</v-card-title>
            <v-card-text class="text-body-1">
              <p class="text-h6 mt-3"><v-icon left>mdi-badge-account-horizontal</v-icon>35F Intelligence Analyst</p>
              <p><v-icon left>mdi-map-marker</v-icon> Torii Station, Okinawa, Japan</p>
              <p v-show="isMobile"><v-icon left>mdi-calendar</v-icon>November 2006 - March 2008</p>
              <p>
                Responsible for gathering information from intelligence sources, preparing and delivering briefings to deploying
                personnel, and offering threat assessment in the field. Most of this role was under a TS/SCI clearance.
              </p>
            </v-card-text>
          </v-card>
          <template v-slot:icon>
            <v-avatar color="black">
              <img src="{% static "images/army-64.jpg" %}" alt="US Army logo">
            </v-avatar>
          </template>
        </v-timeline-item>

      </v-timeline>
    </v-card-text>
  </v-card>
</v-container>
{% endblock %}


{% block data %}
  isMobile: false
{% endblock %}


{% block mounted %}
{
  window.addEventListener('resize', this.onResize, { passive: true })
  this.onResize()
}
{% endblock %}


{% block methods %}
{
  onResize() {
    this.isMobile = window.innerWidth < 600
  },
}
{% endblock %}